.navbar-container{
    background-color: #ea9bb6;
    font-size: 25px;
    padding: 5px 5px;
}

div.navbar-container a{
    text-decoration: none;
}

/* a {
    text-decoration: none; (Underline none)
} *


div.main div{
    color:blue
}
/* .main2{
    color:purple   
} */

.container {
    color: brown;
}
.address-container{
    color: tomato;
    background-color: #efe4e0;
    font-size: 30px;
    width: 240px;
    height: 43px;
    padding: 22px;
    border: 1px solid;
    border-radius: 41px;
}

.main{
    color: chartreuse;
    font-size: 50px;
    font-style: italic;
    padding: 50px 50px;
}

/* padding = vertical hight ,horizantal lenth */

div.main p{
    color: orangered;
    font-size: 30px;
    font-style: normal;
}

.name{
    color: #ea9bb6;
    font-family: Arial;
    cursor: progress;
}
/* cursor = mouse pointer */