.image {
    background-image: url("~src/assets/landing.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.main{
    margin-left: 1191px;
}




.button{
    margin-top: 10px;
    

}
