<div class="main"> 
    <button class="backBtm" routerLink="/owner">Back</button> 
 <div class="container">
    <form [formGroup]="sinupForm" class="formAlinment"> 
       <h1>Owner Sing Up</h1> 
       <div> 
        <mat-form-field> 
            <mat-label>Enter user Name</mat-label> 
           <input type="text" matInput formControlName="userName" > 
           <mat-hint *ngIf="!sinupForm.get('userName')?.touched" class="hint">Please Enter user Name </mat-hint> 
            <mat-error *ngIf="sinupForm.get('userName')?.hasError('required') && !sinupForm.get('userName')?.hasError('pattern')">User Name is <strong>required</strong></mat-error>
            <mat-error *ngIf="sinupForm.get('userName')?.hasError('pattern')">User Name is <strong>Only Alphabates</strong></mat-error>  
           </mat-form-field> 
       </div> 
       
       <div> 
        <mat-form-field appearance="fill"> 
            <mat-label>Mobile Number</mat-label> 
            <input matInput formControlName="mobileNumber" placeholder="+91" maxlength="13" > 
            <mat-hint class="hint" *ngIf="!sinupForm.get('userName')?.touched">Please Enter mobile number</mat-hint> 
            <mat-error *ngIf="sinupForm.get('mobileNumber')?.hasError('required')">Mobile Number is required</mat-error> 
            <mat-error *ngIf="sinupForm.get('mobileNumber')?.hasError('pattern')">Invalid mobile number</mat-error> 
          </mat-form-field> 
       </div>

       <div> 
        <mat-form-field > 
            <mat-label>Enter The Email Id</mat-label> 
            <input matInput formControlName="email" type="text" >
            <mat-hint class="hint" *ngIf="!sinupForm.get('userName')?.touched">Please enter your email address</mat-hint> 
            <mat-error *ngIf="sinupForm.get('email')?.hasError('required')">Email is <strong>required</strong></mat-error> 
             <mat-error *ngIf="sinupForm.get('email')?.hasError('pattern')">Please enter a valid email address</mat-error> 
          </mat-form-field> 
       </div> 

       <div> 
        <mat-form-field> 
            <mat-label>Enter Pan Number</mat-label> 
           <input type="text" matInput formControlName="panNumber" > 
           <mat-hint *ngIf="!sinupForm.get('panNumber')?.touched" class="hint">Please Enter Pan Number </mat-hint> 
            <mat-error *ngIf="sinupForm.get('panNumber')?.hasError('required')">Pan Number is <strong>required</strong></mat-error> 
           </mat-form-field> 
       </div> 
       <div> 
        <mat-form-field > 
            <mat-label>Enter The Password </mat-label> 
            <input matInput formControlName="password" [type]="showpass ? 'text' : 'password'" > 
            <mat-icon (click)="showPassword()" matSuffix>visibility_off</mat-icon> 
            <mat-hint class="hint" *ngIf="!sinupForm.get('password')?.touched">Enter the Password</mat-hint> 
            <mat-error *ngIf="sinupForm.get('password')?.hasError('required')">password is <strong>required</strong></mat-error> 
            <mat-error *ngIf="sinupForm.get('password')?.hasError('minlength')">password should be at least 8 characters long</mat-error> 
          </mat-form-field> 
       </div> 
      
       <div> 
        <mat-radio-group formControlName="gender"> 
           
               <mat-label>Gender</mat-label> 
                <mat-radio-button value="male">Male</mat-radio-button> 
                <mat-radio-button value="female">Female</mat-radio-button> 
                <mat-radio-button value="other">Other</mat-radio-button> 
                <mat-error *ngIf="sinupForm.get('gender')?.hasError('required')">Gender is <strong>required</strong></mat-error> 
              </mat-radio-group> 
       
      </div> 
 
       <button mat-raised-button color="accent" (click)="submit()" >Submit</button> 
    </form> 
</div>
</div>

